.recipe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 65px;
  width: 200px;
  height: 190px;
  background-color: grey;
  border-radius: 40px;
  color: pink;
  text-align: center;
  justify-self: center;
  margin: 5px 15px;
  text-decoration: none;
  color: pink;
}


/* .recipe > p {
  text-decoration: none;
  color: pink;
} */
/* .recipe > div {
  text-decoration: none;
  color: pink;
} */
.recipe > img {
  margin: auto;
  width: 190px;
	object-fit: contain;
  border-radius: 40px;
  /* margin-bottom: -10px; */

}

.noDec {
  text-decoration: none;
}
.noDec :hover {
  color: blue;
  background-color: rgb(229, 231, 227);
  border-radius: 40px;
  font-size: 18px;
}
.noDec :hover > p {
  color: blue;
  background-color: rgb(229, 231, 227);
  border-radius: 40px;
  font-size: 18px;
}

.recipeArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 25px;
  text-decoration: none;
  color: pink;
  justify-content: space-around;
}

.AddedIngredient > span {
  color: black;
}
