.profile {
  display: grid;
  width: 100%;
  grid-template-columns: 240px 240px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "welcome preferences ."
    "userFavorites userFavorites userFavorites";
}

.welcome {
  grid-area: welcome;
}

.userPreferences {
  grid-area: preferences;
  border: 1px solid black;
  background-color: grey;
  text-align: center;

}

.userPreferences > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.userPreferences > li {
  float: left;
  padding: 2px 5px;
}

.UserNewRecipes {
  grid-area: userRecipes;
}

.userFavorites {
  display: grid;
  grid-area: userFavorites;
  /*display: flex;
  flex-wrap: wrap;*/
  /* width: 480px; */
}
.userFavorites > div {
  display: flex;
  flex-wrap: wrap;
}
.userFavorites > div > div {
  display: flex;
  flex-wrap: wrap;
}
